.homeContainer {
  width: 100%;
  
  .content {
   padding-top: 60px;
  }
  .menu_top {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .d-flex{
        height: 40px;
    }
    .btnSearch{
        width: 150px;
    }
    .selectForm {
      .selectBox {
        width: 250px;
        font-weight: 600;
        height: 40px;
      }
    }
  }
  .list-products {
    width: 80%;
    margin: 0 auto;
    // margin-left: 15%;
  }
}
