.buyContainer{
    width: 100%;
    .text-center{
        padding-top: 200px;
       } 
    .formBuy{
        .order{
            box-shadow:
            0.2px 0.3px 114.1px -24px rgba(0, 0, 0, 0.03),
            5.4px 10.4px 140.4px -24px rgba(0, 0, 0, 0.052),
            19.8px 37.7px 156.6px -24px rgba(0, 0, 0, 0.066),
            53.9px 102.4px 180.9px -24px rgba(0, 0, 0, 0.074),
            162px 308px 278px -24px rgba(0, 0, 0, 0.08)
          ;
          padding: 40px;
          border-radius: 20px;
          
        }
        padding-top:85px;
        width: 60%;
        margin: 0 auto;
        .icon{
            border: none;
            padding: 5px 10px;
        }
        .fa-solid{
            color:white;
        }
        .inp{
            width: 70px;
            height: 39px;
            margin-top: -15px;
        }

        .mx-2 {
           margin-top: -7px;
        }
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}