.productDetailContainer {
  width: 80%;
  margin: 0 auto;
  //background-color: aquamarine;
  padding-top: 60px;
  .tittle {
    margin-top: 30px;
  }
  .info {
    .productImg {
      .image{
        // max-width: 500px;
        max-width: 300px;
        max-height: auto;
      }
      .imgSmall {
        width: 60px;
        height: 45px;
        margin: 0 10px;
        border: 1px solid black;
        
      }
    }
    .price1 {
      color: black;
      font-size: 20px;
    }

    .amount {
      color: red;
      font-size: 25px;
      font-weight: 700;
    }
    .gift {
      background-color: palevioletred;
      color: antiquewhite;
      font-size: 18px;
      font-weight: 700;
      padding: 13px 5px;
    }
    .giftInfo {
      border: 2px dotted black;
      font-size: 18px;
      font-weight: 700;
      padding: 13px 5px;
    }
  }
  .contact {
    ul li {
      color: black;
    }
  }
}
