.footerContainer{
    width: 100%;
    padding: 50px 0;
    
    background: rgb(203, 203, 203);
    .content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}