#root{
    position: relative;
  }
  .myCart{
    position: fixed;
    top: 300px;
    right: 30px;
    width: 60px;
    height: 60px;
  border-radius: 50%;
  
  }
  .myCart:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: 300ms;
  }
  .myHis{
    position: fixed;
    top: 370px;
    right: 30px;
    width: 60px;
    height: 60px;
  border-radius: 50%;
  }
  .myHis:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: 300ms;
  }